* {
    margin: 0px;
    padding: 0px;
}

.nav_bar_container {
    width: 100%;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
}

.navbarlist_c {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav_bar_container img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 100%;
    padding: 7px;

}

#navbarlist a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 20px;
}

#navbarlist a:hover {
    color: black;
    background-color: white;
}

.main {
    height: 780px;
    background-image: url('furniture-998265.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main h1 {
    color: rgb(250, 250, 250);
    font-size: 50px;
    text-shadow: 5px 5px 3px black;

}
.main p {
    color: white;
    width: 40%;
    font-size: 20px;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    margin-top: 10px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    bottom: 40px;
    
}
.icon img {
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 100%;
    padding: 5px;
    /* border: 2px solid red; */
    background-color: white;
    
}
/* CATEGORY STARTING HERE! */
.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid green; */
    padding: 10px;
}
.sub_box {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0px;

}
.category_box h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 5px black;
}
.category_box {
    
    box-shadow: 2px 2px 25px black;
    height: 350px;
    width: 350px;
    margin: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16%;
}
.category h1 {
    margin: 20px 0px;
}
#c1 {
    background-image: url("category_img/office.jpeg");
    background-size: cover;
}
#c2 {
    background-image: url("category_img/living-room.jpeg");
    background-size: cover;
}
#c3 {
    background-image: url("category_img/Dinning.jpeg");
    background-size: cover;
}
#c4 {
    background-image: url("category_img/bedroom.jpeg");
    background-size: cover;
}
#c5 {
    background-image: url("category_img/gaming.jpeg");
    background-size: cover;
}
#c6 {
    background-image: url("category_img/kitchen.jpeg");
    background-size: cover;
}
#c7 {
    background-image: url("category_img/outdoor.jpeg");
    background-size: cover;
}
#c8 {
    background-image: url("category_img/Indoor.jpeg");
    background-size: cover;
}
.category_box:hover {
    width: 355px;
    height: 355px;
    box-shadow: 2px 2px 35px black;
}
/* ABOUT SECTION STARTING FROM HERE!!!: */
.About h1{
    text-align: center;
    margin-bottom: 20px;
    
}
.About_box {
    /* border: 2px solid red; */
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkslategray;
    

    
}
.box {
    /* border: 2px solid green; */
    height: 352px;
    width: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.line {
    border: 2px solid white;
    height: 352px;
}
.box img {
    width: 100px;
    height: 100px;
    border: 4px solid goldenrod;
    border-radius: 100%;
    margin-bottom: 5px;
}
.box p {
    width: 80%;
    text-align: center;
    font: 30px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.About {
    background-color: darkslategray;
    padding-top: 20px;
}
.h1_about {
    color: white;
    
}
.box:hover {
    box-shadow: 2px 2px 35px black;
    height: 365;
    width: 465px;

}
/* FORM STARTS HERE!!!! */

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    padding: 50px 0px;
}
iframe {
    height: 570px;
    width: 80%;
}
footer {
    /* border: 2px solid red; */
    
    /* width: 100%; */
    background-color: darkslategray;
    padding: 19px;
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
    
}
#footer_img {
    height: 120px;
    width: 120px;
}
.footer_img_container {
    background-color: white;
    height: 180px;
    width: 200px;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 5px 5px 50px black;
}
.footer h1{
    text-align: center;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 40px;
    margin: 30px;
    padding: 30px;
    background-image: url("wood-plank.png");
    background-size: cover;
    

}
.footer p {
    color: white;
    font-family: monospace;
    width: 50%;
    font-size: 15px;
    text-align: center;
    
}
.footer_cc {
    border-top: 1px solid grey;
    height: 50px;
    width: 100%;
    background-color: darkslategray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
/* BURGER */

.burger {
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.burger-line {
    border: 2px solid black;
    width: 120%;
    margin: 5px 1px;
}

/* MEDEIA QUERY VERY TIME CONUMING */


@media (max-width: 1800px) and (min-width: 1289px) {
    .footer p {
        font-size: 12px;
    }
}
@media (max-width: 1289px) and (min-width: 1078px) {
    .footer p {
        font-size: 10px;
    }
}
@media (max-width: 1078px) and (min-width: 830px) {
    .footer p {
        font-size: 8px;
    }
}
@media (max-width: 830px) and (min-width: 720px) {
    .footer p {
        font-size: 6px;
    }
}
@media (max-width: 720px) and (min-width: 320px) {
    .footer p {
        font-size: 10px;
    }
    .footer {
        flex-direction: column;
    }
    .About_box {
        flex-direction: column;
    }
    .line {
        display: none;
    }
    .box {
        margin: 30px;
        width: 300px;
    }
    .box p {
        font-size: 12px;
    }
    iframe {
        height: 750px;
        width: 100%;
    }

}
/* BURGER MEDIA QUERY */
@media (max-width: 910px) and (min-width: 315px) {
    .navbarlist_c {
        flex-direction: column;
        width: 20%;
    }
    .nav_bar_container {
        flex-direction: column;
    }
    #navbarlist {
        text-align: center;
    }
    .burger {
        display: flex;
        position: absolute;
        top: 0px;
        right: 2px;
    }
    #hide {
        display: none;
    }

}
@media (max-width: 500px) and (min-width: 315px) {
    .main h1 {
        font-size: 30px;
    }
}


#hide {
    display: flex;

}
#toggle {
    display: flex;
}